autojump-git
base
base-devel
bash-completion
chromedriver
cups
cups-pdf
dex
docker
docker-compose
fzf
google-chrome
gsfonts
lib32-gnutls
lib32-krb5
lib32-libcups
lib32-mpg123
python
python-pillow
python-pip
python-selenium
rsync
sshpass
system-config-printer
udev
unzip
w3m
whois
wine
wine-gecko
winetricks
