autojump-git
avahi
base
base-devel
bash
bash-completion
binutils
chromedriver
clang
cling
code
coreutils
cups
cups-pdf
debtap
dex
diffutils
dnsutils
docker
docker-compose
fcitx5-chewing
fcitx5-gtk
fcitx5-qt
figlet
firefox
fzf
gnome-browser-connector
gsfonts
inetutils
iputils
llvm
nano
nano-syntax-highlighting-git
net-tools
python
python-pillow
python-pip
python-selenium
rpmextract
rsync
screen
sshpass
sudo
system-config-printer
systemd
traceroute
udev
unzip
w3m
which
whois
wqy-microhei
xdg-utils
yay
wine
winetricks
