arch-install-scripts
autojump-rs
avahi
baobab
base
base-devel
bash
bash-completion
bind
binutils
btrfs-progs
cheese
chromedriver
clang
coreutils
cronie
cups
cups-pdf
dconf-editor
debtap
dex
diffutils
dnsutils
docker
docker-compose
dosfstools
doxygen
efibootmgr
eog
evince
exfat-utils
fcitx5-chewing
fcitx5-config-qt
fcitx5-configtool
fcitx5-gtk
fcitx5-qt
figlet
file-roller
firefox
fzf
gdm
gedit
git
gnome-backgrounds
gnome-boxes
gnome-browser-connector
gnome-calculator
gnome-calendar
gnome-characters
gnome-clocks
gnome-color-manager
gnome-connections
gnome-console
gnome-contacts
gnome-control-center
gnome-disk-utility
gnome-firmware
gnome-font-viewer
gnome-keyring
gnome-logs
gnome-maps
gnome-menus
gnome-music
gnome-photos
gnome-remote-desktop
gnome-session
gnome-settings-daemon
gnome-shell
gnome-shell-extensions
gnome-shell-extension-kimpanel-git
gnome-software
gnome-sound-recorder
gnome-system-monitor
gnome-terminal
gnome-text-editor
gnome-tweaks
gnome-user-docs
gnome-user-share
gnome-weather
gnu-free-fonts
google-chrome
gptfdisk
graphviz
grilo-plugins
grub
grub-btrfs
gsfonts
gvfs
gvfs-afc
gvfs-goa
gvfs-google
gvfs-gphoto2
gvfs-mtp
gvfs-nfs
gvfs-smb
inetutils
intel-ucode
iputils
kolourpaint
less
linux
linux-firmware
llvm
nano
nano-syntax-highlighting-git
nautilus
neofetch
net-tools
networkmanager
noto-fonts
nss-mdns
ntfsprogs-ntfs3
openresolv
orca
pacman-cleanup-hook
piper
python
python-conda
python-croniter
python-pillow
python-pip
python-requests
python-selenium
rpmextract
rsync
rygel
safeeyes
screen
shared-mime-info-gnome
simple-scan
solaar
sshpass
sudo
sushi
system-config-printer
systemd
tk
totem
traceroute
tracker3-miners
tree
ttf-bitstream-vera
ttf-croscore
ttf-dejavu
ttf-droid
ttf-ibm-plex
ttf-liberation
ttf-ms-fonts
udev
unzip
visual-studio-code-bin
w3m
wget
which
whois
wine
winetricks
wireguard-tools
wlrctl
wqy-microhei
xdg-user-dirs
xdg-user-dirs-gtk
xdg-utils
yay
gef
# decompile
radare2
iaito
# pwd
python-pwntools
# web
burpsuite
